* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

/* organiza os espaços*/
.articles {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;  /* organiza o espaço entre os artigos*/
}

/* organiza o tamanho das imagens*/
.articles article img {
    height: 180px;
}

/* organiza o layout dos artigos*/
.articles article {
    width: 30%;
}
